body 
{
    background-color: #1E1E1E;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header
{
    box-sizing: border-box;
    position:relative;
    width: auto;
    height: 160px;
    left:0;
    background: #CD7003;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 25px;
}

footer
{
    box-sizing: border-box;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 160px;
    background: #CD7003;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    margin-top: 25px;
    text-align : center;
    padding-top: 25px;
}

header img 
{
    display: block;
    margin: 5px auto 0 20px;
    max-height: 90%;
    max-width: 90%;
}

.btnQuestions 
{
    display: inline-block;
    padding: 20px 40px;
    background-color: #CD7003;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    border : white solid 5px;
}

.btnStatistiques 
{
    display: inline-block;
    padding: 20px 40px;
    background-color: #CD7003;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    border : white solid 5px;
}

.btnQuestions:hover
{
    background-color: #f58403;
}

.btnStatistiques:hover
{
    background-color: #f58403;
}


.btnQuestions a
{
    color : white;
    text-decoration: none;
}

.btnStatistiques a
{
    color : white;
    text-decoration: none;
}

.btnDeconnexion 
{
    display: inline-block;
    padding: 20px 40px;
    background-color: #000000;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    margin: auto;
    position: absolute;
    top: 0%;
    right: 12%;
    transform: translate(50%, 30%);
    border: white solid 5px;
}

.btnDeconnexion a 
{
    color : white;
    text-decoration: none;
}

.btnDeconnexion:hover
{
    background-color: rgb(26, 26, 26);
}
.container-connexion
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
}

input
{
	height: 35px;
	width: 300px;
    border-radius: 10px;
}

::placeholder
{
	text-align: center;
}

table
{
    border-collapse: collapse;
    width: 80%;
    border: solid 1px;
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -42%);
    float: left;
}

th
{
    border: solid 1px;
}

td
{
    border: solid 1px;
    text-align: center;
}

.titreAdmin h2
{
    color: white;
    stroke: 100% black;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.titreAdmin h3
{
    color: white;
    stroke: 100% black;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.btnAjoutQuestion
{
    display: inline-block;
    padding: 20px 40px;
    background-color: #CD7003;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border : white solid 3px;
    position: absolute;
    top: 185px;
    left: auto;
}

.btnRetourAccueil
{
    display: inline-block;
    padding: 20px 40px;
    background-color: #CD7003;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border : white solid 3px;
    position: absolute;
    top: 185px;
    left: 250px; 
}

a
{
    text-decoration: none;
}

.btnRetourAccueil img
{
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
}

.btnSuppQuestion
{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    font-size: 25px;
    padding: 1px;
}

.btnModifQuestion
{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 154, 3);
    border-radius: 10px;
    font-size: 25px;
    padding: 1px;
}

.btnConnexion
{
    padding: 15px 40px;
    background-color: #CD7003;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -100%);
    border : white solid 4px;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.btnConnexion:hover
{
    background-color: #f58403;
}

/* RD - Connexion Admin */

@media screen and (max-width: 576px)   /* Téléphone */
{
    .btnConnexion
    {
        font-size: 15px;
    }
    header
    {
       height: 100px;
    }
    footer
    {
        height: 100px;
    }
    .btnDeconnexion
    {
        padding: 10px 20px;
        font-size: 20px;
        top: 10px;
        right: 17%;
        border: white solid 3px;
    }
    .btnQuestions
    {
       padding: 20px 40px;
       font-size: 40px;
       border-radius: 25px;
       top: 40%;
       left: 50%;
    }
    .btnStatistiques
    {
        padding: 20px 28px;
        font-size: 40px;
        border-radius: 25px;
        top: 55%;
        left: 50%;
    }
}
@media screen and (max-width: 900px) and (min-width: 577px) /* Tablette */
{
    .btnConnexion
    {
        font-size: 15px;
    }
    header
    {
       height: 100px;
    }
    footer
    {
        height: 100px;
    }
    .btnDeconnexion
    {
        padding: 10px 20px;
        font-size: 20px;
        top: 10%;
        right: 17%;
        border: white solid 3px;
    }
    .btnQuestions
    {
       padding: 20px 40px;
       font-size: 40px;
       border-radius: 25px;
       top: 50%;
       left: 30%;
    }
    .btnStatistiques
    {
        padding: 20px 40px;
        font-size: 40px;
        border-radius: 25px;
        top: 50%;
        left: 70%;
    }
}
@media screen and (min-width: 900px)  /* PC normal */
{
    .btnConnexion
    {
        font-size: 15px;
    }
    header
    {
       height: 100px;
    }
    footer
    {
        height: 100px;
    }
    .btnDeconnexion
    {
        padding: 10px 20px;
        font-size: 20px;
        top: 10%;
        right: 10%;
        border: white solid 3px;
    }
    .btnQuestions
    {
       padding: 20px 40px;
       font-size: 40px;
       border-radius: 25px;
       top: 50%;
       left: 40%;
    }
    .btnStatistiques
    {
        padding: 20px 40px;
        font-size: 40px;
        border-radius: 25px;
        top: 50%;
        left: 65%;
    }
}
@media screen and (min-width: 1200px)  /* PC Grand */
{
    .btnConnexion
    {
        font-size: 35px;
        top: 66%;
        left: 50%;
        transform: translate(-50%, -100%);
    }
    header
    {
       height: 200px;
    }
    footer
    {
        height: 200px;
    }
    input
    {
	   height: 55px;
	   width: 500px;
    }
    body
    {
        font-size: 25px;
    }
    .btnDeconnexion
    {
        padding: 10px 20px;
        font-size: 55px;
        top: 10%;
        right: 8%;
        border: white solid 5px;
    }
    .btnQuestions
    {
       padding: 20px 40px;
       font-size: 70px;
       border-radius: 25px;
       top: 50%;
       left: 45%;
    }
    .btnStatistiques
    {
        padding: 20px 40px;
        font-size: 70px;
        border-radius: 25px;
        top: 50%;
        left: 60%;
    }
}